{
    "discord": {
        "token": "",
        "account": {
            "username": "",
            "password": ""
        }
    },
    "server": [
        {
            "serverName": "",
            "discordChannelId": "",
            "discordMessageId": "",
            "serverStatusFile": "",
            "thumbnailUrl": ""
        }
    ]
}