{
    "discord": {
        "token": "",
        "channel": "",
        "serverStatusMessageId": "",
        "weatherStatusMessageId": ""
    },
    "dcs": {
        "serverName": "",
        "serverStatusFile": "",
        "account": {
            "username": "",
            "password": ""
        }
    }
}